@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1919px) {

}
@media screen and (max-width: 1679px) {

}
@media screen and (max-width: 1439px) {
}
@media screen and (max-width: 1365px) {

}
@media screen and (max-width: 1199px) {
	.ttl {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.btn-block {
	  margin-top: 30px;
	  .btn {
	    width: 190px;
	    &:first-child {
	      margin-right: 10px;
	    }
	  }
	}
	.main-section {
		text-align: center;
	  .container {
	    padding: 0 25px;
	    .image {
	      padding-right: 25px;
	    }
	  }
	}
	.howitworks {
		font-size: 16px;
	  .how-item {
	    padding: 45px 35px;
	    p {
	      margin-top: 30px;
	      label {
	        font-size: 62px;
	      }
	    }
	  }
	}
	.section {
	    padding: 90px 0 30px;
	}
}
@media screen and (max-width: 991px) {
	.ttl {
		font-size: 28px;
	}
	.btn-block {
	  margin-top: 25px;
	  text-align: center;
	  .btn {
	    width: 210px;
	    &:first-child {
	      margin-right: 0;
	      margin-bottom: 10px;
	    }
	  }
	}
	.main-section {
	  .container {
	    padding: 0 15px;
	    .image {
	      padding-right: 15px;
	    }
	    .text {
	    	font-size: 14px;
	    }
	  }
	}
	.howitworks {
	  .h2ow-item {
	    padding: 25px 30px;
	    p {
	      margin-top: 30px;
	      label {
	        font-size: 42px;
	      }
	    }
	  }
	}
	.section {
	    padding: 70px 0 30px;
	}
	.main-section.slider-section .container .image img{
	  max-width: 150px;
	}
	.carousel-indicators {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.ttl {
		font-size: 24px;
	}
	.main-section {
	  .container {
	    .image {
	    }
	    .text {
	    	font-size: 14px;
	    	margin-bottom: 20px;
	    	br {
	    		display: none;
	    	}
	    }
	  }
	}
	.section, .fp-tableCell {
		height: auto!important;
	}
	.section {
	    padding: 70px 0 30px;
	}
	.contacts {
	  padding-bottom: 55px;
	  padding-top: 40px;
	  .ttl {
	    margin-bottom: 60px;
	  }
	  .form-block {
	    input {
	      width: 400px;
	      &[type="submit"] {
	        width: 100px;
	      }
	    }
	  }
	  .social {
	    bottom: 0;
	  }
	}
}
@media screen and (max-width: 575px) {
	.navigation {
	  padding: 8px 15px;
	}
	.ttl {
		font-size: 21px;
	}
	.howitworks {
	  .how-item {
	    padding: 25px 30px;
	    text-align: center;
	    img {
	    	max-height: 100px;
	    	max-width: 100px;
	    }
	    p {
	      max-width: 320px;
	      margin: 15px auto 0;
	      label {
	        font-size: 36px;
	        margin-bottom: 5px;
	        position: static;
	        display: block;
	      }
	    }
	  }
	}
	.contacts {
	  padding-bottom: 35px;
	  padding-top: 0;
	  .ttl {
	    margin-bottom: 30px;
	  }
	  .form-block {
	    input {
	      width: 200px;
	      font-size: 16px;
	      &[type="submit"] {
	        width: 85px;
	      }
	    }
	  }
	  .social {
	    bottom: 0;
	    flex-direction: column;
	    a {
	    	margin-bottom: 15px;
	    }
	  }
	}
}	
@media screen and (max-width: 450px) {

}